.stroke {
	transform: scale(0.4);
	stroke-width: 15px;
	stroke: salmon;
	stroke-dasharray: 80px;
	stroke-dashoffset: 400px;
	opacity: 0;
	animation: appear 10s linear infinite;
	animation-fill-mode: forwards;
	height: 700px;
}

@keyframes appear {
	50% {
		stroke-dasharray: 2500px;
		stroke-dashoffset: 0px;
		opacity: 0.2;
	}
	100% {
		stroke-dasharray: 80px;
		stroke-dashoffset: 400px;
		opacity: 0;
	}
}